<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="16.2.0"/>
  <package id="Microsoft.TestPlatform" version="16.2.0"/>
  <package id="OpenCover" version="4.7.922" />
  <package id="ReportUnit" version="1.2.1" />
  <package id="NUnit" version="3.12.0"/>
  <package id="NUnit.Console" version="3.10.0"/>
  <package id="NUnit.ConsoleRunner" version="3.10.0"/>
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0"/>
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0"/>
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0"/>
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.6"/>
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0"/>
  <package id="NUnit3TestAdapter" version="3.15.1"/>
  <package id="7-Zip.CommandLine" version="18.1.0"/>
</packages>